@use "../partials/border.scss" as *;
@use "../partials/boxShadow.scss" as *;
@use "../partials/typography.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body { 
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.purple {
  background-color: #c16df4;
}
.orange {
  background-color: #fa9c46;
}
.green {
  background-color: #54bc5e;
}
.blue {
  background-color: #46a3fa;
}

.button-small {
  width: 6rem;
  height: 1.5625rem;
  font-size: 12px;
  border: $border;
  box-shadow: $smallButtonShadow;
}

.button-large {
  width: 12rem;
  padding: 1rem 1rem;
  border: $border;
  box-shadow: $smallButtonShadow;
}