@use "../partials/border.scss" as *;
@use "../partials/boxShadow.scss" as *;

.purple {
  background-color: #c16df4;
}
.orange {
  background-color: #fa9c46;
}
.green {
  background-color: #54bc5e;
}
.blue {
  background-color: #46a3fa;
}

.button-small {
  width: 6rem;
  padding: 0.5rem 1rem;
  border: $border;
  box-shadow: $smallButtonShadow;
}

.button-large {
  width: 12rem;
  padding: 1rem 1rem;
  border: $border;
  box-shadow: $smallButtonShadow;
}