@import "../../styles/partials/mixins.scss";

.our-kitties {
  @include flex(center, center);
  flex-wrap: wrap;
  gap: 64px;
  padding-bottom: 42px;
  
  &__heading {
    text-align: center;
  }
  &__confirmation { 
    text-align: center;
  }
}
